<div class="app-body">
    <main class="main d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card-group">
                        <div class="card p-4">
                            <div class="card-body">
                                <div style="text-align: center;">
                                    <img class="logo-login" src="../../../assets/img/brand/logo.svg" />
                                </div>
                                <form>
                                    <h1 class="text-center" style="color: #505050;">Iniciar sesión</h1>
                                    <p class="text-muted text-center">Inicia sesión con tu cuenta</p>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="icon-user"></i></span>
                                        </div>
                                        <input [(ngModel)]="username" name="username" type="text" class="form-control" placeholder="Usuario" autocomplete="username" required>
                                    </div>
                                    <div class="input-group mb-4">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="icon-lock"></i></span>
                                        </div>
                                        <input (keyup.enter)="login()" [(ngModel)]="password" name="password" type="password" class="form-control" placeholder="Contraseña" autocomplete="current-password" required>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <button type="button" (click)="login()" class="btn btn-primary px-4">Iniciar sesión</button>
                                        </div>
                                        <div class="col-6 text-right pad-0">
                                            <button type="button" class="btn btn-link px-0">Olvidaste la contraseña?</button>
                                        </div>
                                    </div>
                                    <div *ngIf="error !== '' " class="alert alert-danger mt-3" role="alert">
                                        {{error}}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>