<div class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="clearfix">
                    <h1 class="float-left display-3 mr-4">404</h1>
                    <h4 class="pt-3">Oops! Estas perdido.</h4>
                    <p class="text-muted">La pagina que estas buscando no existe.</p>
                </div>
                <div class="clearfix">
                    <h5 class="btn btn-link px-0" (click)="back()">Persiona aqui para volver atras</h5>
                </div>
            </div>
        </div>
    </div>
</div>